:root {
    --neon-blue: #00c3ff6e;
    --neon-purple: #7b00ff49;
    --dark-bg: #060606;
    --card-bg: rgba(255, 255, 255, 0.05);
    transition: all 0.5s ease;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 1.1rem;

}

body {
    background: var(--dark-bg);
    font-weight: 100;
    color: #fff;
    text-align: center;

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background: radial-gradient(circle at 20% 30%, rgba(0, 255, 255, 0.08), transparent 50%),
        radial-gradient(circle at 80% 70%, rgba(255, 0, 221, 0.171), transparent 50%);
    z-index: -2;

}

h1 {
    margin-top: 1.5rem;
    background-color: rgba(23, 19, 46, 0.87);
    text-align: center;
    font-size: 2rem;
    height: 50px;
    line-height: 50px;
    width: "";

}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 0px #ffffffb2;
    background-size: cover;
}

form {
    margin-top: 3rem;
    display: inline-block;

}

div {
    margin-top: 5rem;

}

button {
    margin-top: 3rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 25px 0px #252525;
    padding: 7px;
    background-color: #33333363;
    color: white;

}

h3 {
    padding-bottom: 25px;
    margin-top: 7rem;

}

input {
    background: linear-gradient(to left,
            var(--neon-purple) 40%,
            var(--neon-blue))90%;
    color: white;
    width: 250px;
    border-radius: 5px;

}

#result {
    margin-top: 25px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #33333321;
    color: white;
    padding: 10px 5px 5px 5px;
    text-align: center;

}